@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
    padding : 2% 9%;
    box-sizing: inherit;
}

h1{
    font-weight: 400;
    font-size: 1.5rem;
    text-align: center;
}

.error-message{
    text-align: center;
    color: red;
    font-weight: 500;
    margin-bottom: 0.5rem;
}


.form-group{
    display: inline-block;
    padding-left: 15%;
    margin-bottom: 0.5rem;
}

.list{
    width: 100%;
}

.lists{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: rgba(241, 169, 169, 0.828);
    list-style: none;
    margin-bottom: 0.2rem;
    padding: 0.4rem;
}

.lists li{
    display: inline-block;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 16px;
    padding: 0.8rem;
    color: #232323;
}

.time{
    display: block;
    font-family: 300;
    font-size: 11px;
    color: rgb(93, 93, 93);
}

.img{
    height: 0.7rem;
}

input{
    padding: 0.8rem;
    border: 1px solid rgba(221, 182, 182, 0.828);
    margin: 1rem 0.3rem;
    filter: none;
}

input:focus{
    outline: none;
    border: 1px solid rgba(247, 177, 177, 0.828);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}

.btn-list{
    border: none;
    border-radius: 3rem;
    padding: 0.8rem;
}

.btn{
    background-color: rgba(241, 169, 169, 0.828);   
    border: none;
    font-size: 1rem;
    color: #fff;
    padding: 0.8rem;
}

@media only screen and (max-width:768px) {
    body{
        padding : 2%;
        box-sizing: inherit;
    }
    
    h1{
        font-size: 0.8rem;
    }
    
    .form-group{
        display: block;
        margin-bottom: 0.3rem;
    }

    .lists{
        display: block;
        background-color: rgba(241, 169, 169, 0.828);
        list-style: none;
        margin-bottom: 0.2rem;
    }
    
    .lists li{
        display: block;
        font-weight: 400;
        font-size: 14px;
        padding: 0.4rem;
        color: #232323;
    }
    
    .time{
        display: block;
        font-family: 300;
        font-size: 11px;
        color: rgb(93, 93, 93);
    }
    
    input{
        padding: 0.6rem;
        border: 1px solid rgba(221, 182, 182, 0.828);
        margin: 0.4rem 0.3rem;
        filter: none;
    }
    
    .btn-list{
        padding: 0.5rem;
    }
    
    .btn{
        background-color: rgba(241, 169, 169, 0.828);   
        border: none;
        font-size: 1rem;
        color: #fff;
        padding: 0.7rem 2rem;
    }
}